#!/bin/bash

DEV_SERVER="your_dev_host"
DEV_PHP_BIN="/opt/php/bin/php"
DEV_PATH="/path/to/webroot"
DEV_USER="nginx"
DEV_GROUP="nginx"

#####################################
# no need to change
#####################################

#checking php syntax
for folder in "public" "application" "tests"; do
    echo -n "Checking syntax for *.php in ./${folder}, "
    error_output=`find "./${folder}" -type f -iname "*.php" -exec php -l {} \; | grep -i "Errors.parsing"`
    if [ "$error_output" != "" ]; then
        echo "failed!"
        echo $error_output
        exit 1
    else
        echo "OK!"
    fi
done


RSYNC_BIN=`whereis rsync`
SOURCE_PATH="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

$RSYNC_BIN -az \
-e "ssh -q" \
--delete \
--exclude=".*" \
--exclude="*.bak" \
--exclude="*.sql" \
--exclude="*.tmp" \
--exclude="*~" \
--exclude=`basename $0` \
--exclude="composer.json" \
--exclude="composer.lock" \
--exclude="package.xml" \
${SOURCE_PATH}/* ${DEV_SERVER}:${DEV_PATH}/

CHOWN_CMD="chown -R ${DEV_USER}:${DEV_GROUP} ."
PHPUNIT_CMD="${DEV_PHP_BIN} ./vendor/bin/phpunit -c tests/phpunit.xml"
ssh -q ${DEV_SERVER} "cd ${DEV_PATH}; ${CHOWN_CMD}; ${PHPUNIT_CMD};"
