<phpunit backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="false"
    bootstrap="./TestCase.php"
>
    <testsuites>
        <testsuite name="Library Test Suite">
            <directory>./</directory>
        </testsuite>
    </testsuites>
</phpunit>
